.dashboard {
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Support for vertical scrolling  */
  gap: 20px;    
  width: 100%;
  height: 100%;
  padding: 20px;
}


/* Hide the scroll bar  */
.dashboard::-webkit-scrollbar {
  visibility: hidden;
}

.widget {
  flex: 1;
  flex-shrink: 1;
  height: 480px;
}

.widget2 {
  flex: 2;
  flex-shrink: 1;
  height: 480px;
}

@media screen and (min-width: 480px) {  

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }  
}

/* Adapted to mobile devices */
@media screen and (max-width: 480px){
  
  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }


}